html, body {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #1E2333;
}
#about {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img_about {
    width: 250px;
}

#personal {
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    width: 100%;
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    margin-bottom: 0;
}
p {
    margin-top: 8px;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #96E6FF;
}

a i:hover {
    color: #96E6FF;
}

i {
    color: #2a99d8;
    font-size: 2em;
    margin: 0.5em;
}

img {
    border-radius: 100%;
}
